{% extends 'home/base.html' %}

{% block title %} index
{% endblock %}

{% block style %} 
{% endblock %}

{% block body %} 
<div class="agenda">
        <h2>Agenda</h2>
        <div class="evenement">
          <h3>Jeudi 17 avril 2020</h3>
          <ul>
            <li><span class="heure">10h00</span><span class="titreevenement"><b>Moniteur : Tom - </b> 2 Heure de conduite</span></li>
          </ul>
        </div>
        <div class="evenement">
          <h3>Mardi 21 avril 2020</h3>
          <ul>
            <li><span class="heure">10h00</span><span class="titreevenement"><b>Moniteur : Tom - </b> 4 Heure de conduite</span></li>
          </ul>
        </div>
        <div class="evenement">
          <h3>Jeudi 23 avril 2020</h3>
          <ul>
            <li><span class="heure">14h00</span><span class="titreevenement"><b>Moniteur : Jerry -</b> 2 Heure de conduite</span></li>
           
          </ul>
        </div>
      </div>

{% endblock %}

      