{% extends 'home/base.html' %}

{% block title %} index
{% endblock %}

{% block style %} 
{% endblock %}

{% block body %} 
<section class="pricing py-5">
        <div class="container">
          <div class="row">
            <!-- Free Tier -->
            <div class="col-lg-4">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Forfait gruyére</h5>
                  <h6 class="card-price text-center">€50<span class="period">/mois</span></h6>
                  <hr>
                  <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>1 utilisateur</strong></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Livre du code de la route</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>5h de conduite offerte</li>
                   
                  </ul>
                  <a href="#" class="btn btn-block btn-primary text-uppercase">Souscrire</a>
                </div>
              </div>
            </div>
            <!-- Plus Tier -->
            <div class="col-lg-4">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Forfait camembert</h5>
                  <h6 class="card-price text-center">€90<span class="period">/mois</span></h6>
                  <hr>
                  <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>2 utilisateurs</strong></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>50% sur toutes les heures de conduite</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Livre de code offert + acces 2h/jour au cours en ligne</li>
                    
                  </ul>
                  <a href="#" class="btn btn-block btn-primary text-uppercase">Souscrire</a>
                </div>
              </div>
            </div>
            <!-- Pro Tier -->
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Forfait Planche de luxe</h5>
                  <h6 class="card-price text-center">€499<span class="period">/mois</span></h6>
                  <hr>
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>pack familles</strong></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Cours en acceleré</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Cours illimité/heure de conduite</li>
                  
                  </ul>
                  <a href="#" class="btn btn-block btn-primary text-uppercase">Souscrire</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}

      